* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

// theme colors
$off-white: #f7f7f7;
$navy-blue: #0a1c3e;

body {
    font-family: 'Cardo', serif;
}

.header {
    background: $off-white;
    clear: both;
    height: 100px;
    font-family: 'Cardo', serif;

    #logo {
        float: left;
        margin: 1rem 2rem;
        max-width: 20rem;
    }

    #navlist {
        float: right;


        li {
            font-size: 1.5rem;
            font-weight: bolder;
            display: inline;
            list-style-type: square;
            padding-left: 20px;
            padding-right: 20px;

            a:link,
            :visited {
                color: $navy-blue;
                line-height: 100px;
                height: 100px;
                text-decoration: none;
            }
        }
    }

}