* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

// theme colors
$off-white: #f7f7f7;
$navy-blue: #0a1c3e;

body {
    font-family: 'Cardo', serif;
}


// Navbar start
.header {
    background: $off-white;
    clear: both;
    height: 100px;
    font-family: 'Cardo', serif;

    #logo {
        float: left;
        margin: 1rem 2rem;
        max-width: 20rem;
        padding-top: 6px;
    }

    #navlist {
        float: right;
        padding-top: 8px;
        padding-right: 10px;

        li {
            font-size: 1.5rem;
            font-weight: bolder;
            display: inline;
            list-style-type: square;
            padding-left: 20px;
            padding-right: 20px;

            a:link,
            :visited {
                color: $navy-blue;
                line-height: 90px;
                height: 90px;
                text-decoration: none;
            }
        }
    }
}

// Navbar End

//MainPage Start

.main {
    height: 90vh;
    background-color: $navy-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $off-white;
    background-image: url('../img/header-background.jpg');
    background-color: rgba(10, 28, 62, 0.25);
    background-blend-mode: multiply;
    object-fit: cover;
    text-align: center;
}

.main-intro {
    display: block;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 4rem;
        padding-bottom: 2.5rem;
    }

    p {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}

.blue-section {
    height: 30vh;
    background-color: $navy-blue;
    color: white;
    font-size: 2rem;
}